[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg

package-name = collective.smsauthenticator
package-extras = [test]
versions = versions

parts += 
    omelette
    sphinxbuilder

[versions]
plone.app.testing=4.2.2

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/builddocs
eggs = ${instance:eggs}
