[buildout]
# Any sources here are only used if their eggs are actually used!

extensions += 
    mr.developer

sources = sources

# List products under development here
auto-checkout += 
#    collective.smsauthenticator
unzip = true

[sources]
# List source locations for products under development
#collective.smsauthenticator = git git@github.com:collective/collective.smsauthenticator.git
