[buildout]
extends =
    buildout-plone4.cfg
    versions.cfg

allow-hosts =
    pypi.python.org
    dist.plone.org

[instance]
# Project-specific eggs go here
eggs +=
    collective.smsauthenticator

# ZCML-registry for project-specific eggs, if necessary
zcml +=
    collective.smsauthenticator
